$bg-background : rgb(218, 179, 255);
page-register {
    ion-content{
	background-color: #fff !important;
    }
    .login{
	text-align: center;
	//border: 2px solid;
	margin: 0 auto;
	margin-top: 20%;
	width: 60%;
	border-radius: 5px;
    }
    .btn-login{
	background-color: #fff;
	border-radius: 10px;
	
    }
    .login-form{
	padding: 5px;
    }
}

