page-book-appointment {
    ion-content{

    }
    .white-background{
	background-color: #fff;
    }
    .padding-5px-bottom{
	padding-bottom: 5px;
    }
    appointment-form{
	padding-bottom:5px;
    }
    .error-box{
	padding-left: 55px;
    }

}
