page-book-appointment {
    ion-content{
	background-color: lightblue !important;
    }
    .white-background{
	background-color: #fff;
    }
    .padding-5px-bottom{
	padding-bottom: 5px;
    }
    appointment-form{
	padding-bottom:5px;
    }
}
