page-next-appointment {

    .appointment-list{
	-webkit-box-shadow: 10px 10px 56px -73px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 56px -73px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 56px -73px rgba(0,0,0,0.75);
	border: 1px solid;
	padding: 5px;
    }
}
